
*{
 margin:0;
 padding:0;   
}    
body{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    position:fixed;
    background-color:#fff;
    top:0;
    right:0;
    left:0;
    z-index:1000;
    border-bottom: 1px solid #D3D3D3;
    padding: 10px 20px 13px;
  
   
}
.main-menu {
    
    display: inline-block;
    margin:0; 
    width: 100%;
    padding: 10px 13px;


    border-bottom: 1px solid #D3D3D3;
    padding: 10px 20px 13px;
}
.main-menu ul{
    
    list-style: none;
    margin: 0;
    width: 100%;
    text-align: center;
   

}
.main-menu li{

    display: inline-block;
    
}
.main-menu  div{
  
    display: inline-block;
   
}
.logo{
    margin:  10px;
}
.logo i{

     height: 100%;
     vertical-align: middle;
 }
 .logo a{
     
     color: #bd081c;

 }
 .logo a:hover{
    color: #000;
 }
.search{
    
    width: 70%;
    border-radius: 6px;
    background-color:#efefef;
    margin:0 20px; 
    text-align: left;

}
.search-box{
    display: inline-block;
    padding: 10px 0 10px 30px;
    width: 85%

}
.search-box form{
    
      display: inline-block;
      width: 90%;
     
  }
  .search-box input{
      background-color: transparent;
      border:none;
      outline:none;
      font-size: 18px;
      padding: 0;
      width: 100%;
      
  }
.fa-search{
    
    
    left:0;
    top:5%;
}
.fa-times{
    
    
    right:0;
    top:5%;
}

.search-filter{
    display: inline-block;
    padding: 10px 10px 10px 0;
    text-align:left;
  
/*     
    left: 400px;
    right: 0;
    top:0%;      */
}
.gray-icon{
    margin: 0 10px;
    padding: 0 10px;
    
}   
/* i{
    color: #b5b5b5;
} */

/*Estilo para el filtro */
.filter-menu{
     padding: 10px 20px;
     text-align: center;
     
}

.filter-menu li {
    
    display: inline-block; 
    border-radius: 6px;
    height: 60px;
    color:#fff;
    margin: 5px;
    background-color:grey;
    overflow: hidden;
    
     
}

.filter-menu span{
    background: rgba(109, 31, 31, 0.5);
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    display: block;
    line-height: 60px;
    height: 100%;
    cursor: pointer;
    padding: 0 24px;
    
    
}   

/* Estilo para seccion de resultados */
.search-result{
    margin: 170px 80px 50px;
    column-count: 4;
    column-gap: 20px;
    min-width: 900px;

   
    
}
.search-result img{
   
    border-radius: 20px;
    margin-bottom: 15px;
    width: 100%;
    
}

figure{
    margin-bottom: 20px;
}
